# Copy this file to .env and fill in values

NGINX_PORT=8080
POSTGRES_PORT=5432

POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=secret

APP_ENV=dev
APP_SECRET=change_me_in_production

DATABASE_URL="postgresql://app:secret@postgres:5432/app?serverVersion=17&charset=utf8"
